a {
    color: white;   
}

body {
    background: white;
    color: white;
    font-weight: bold;
    background-image: url("main-background1_mini.jpg");
    background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100vh;
    font-family: "garamond";
}

table {
	margin-left: auto;
	margin-right: auto;
    margin: collapse;
    border-style: none;
}

th {
	color: rgb(105,190,40);
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-top: none;   
}

#wholepage {   
    display: block;
	width: 56%;	
	
	z-index: 5;
    background: rgba(0,0,0,0.3);
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin: auto;
    margin-left: auto;
	margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0px;
    overflow: hidden;
    font-size: 1.2em;
    /*
        border: 0px solid rgb(48, 48, 48);
        box-shadow: 1px 1px 7px rgb(48, 48, 48);
    */
}

#banner {
	background: rgba(0,0,0,0.1);
	color: rgb(105,190,40);
	padding: 1em;
    min-height: 7em;
}

#ourlist {
    width: 75%;
    margin-left: auto;
	margin-right: auto;
}

.banner2 {
    position: relative;
    top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h1, h2, h3, h4 {
    font-weight: 900;
    font-family: "garamond";
}