table {
	margin-left: auto;
	margin-right: auto;
}

.myButton:active {
	position:relative;
	top:1px;
}

table {
	border-collapse: collapse;
}

body {
    background: #dad9d4;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.wholepage {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}


#wholepage {   
    display: block;
	width: 50%;	
	margin-left: auto;
	margin-right: auto;
	z-index: 5;
	border: 0px solid rgb(48, 48, 48);
    background: white;
    box-shadow: 1px 1px 7px rgb(48, 48, 48);
}

#banner, #w3c {
	background-image: url("banner-background.png");
	color: white;
	padding: 1em;
    min-height: 10em;
}

#wholepage {
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    overflow: hidden;
    font-size: 1em;
}

#ourlist {
    width: 95%;
    margin-left: auto;
	margin-right: auto;
}